.umb-navigation {
    display: flex;
    flex: 0 0 @navigationBarHeight;
    align-items: center;
    border-bottom: 1px solid @grayLight;
    box-sizing: border-box;
}


.umb-navigation-link {
    display: flex;
    align-items: center;

    padding: 0 20px;
    height: 49px;
    font-size: 13px;

    cursor: pointer;

    &:hover {
        text-decoration: none;
        background: @grayLighter;
    }

    &:focus {
        text-decoration: none;
    }
}


.umb-navigation-link.-current {
    color: @blue;
}

.umb-navigation-link.open {
    background: @grayLighter;
}


.umb-navigation__right {
    display: flex;
    align-items: center;

    margin-left: auto;
}


#avatar-img {
    border-radius: 50%;
    margin: 0 0 0 10px;
}



.umb-sections__tray {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    z-index: 1;

    width: 220px;
    top: @navigationBarHeight;

    background: white;

    transform: translate(-42px, 0px);
}

.umb-sections__tray .umb-navigation-link {
    width: 100%;
    box-sizing: border-box;
}

.umb-sections__tray .umb-navigation-link:hover {
    background: #ececec;
}


.umb-navigation-more {
    width: 22px;
    height: auto;
}

.umb-navigation-more__path {
    fill: @black;
}


// Tree Doors Downu
#mainwrapper {
    display: flex;
    flex-direction: column;
}

#contentwrapper {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

#contentcolumn {
    flex: 1 1 100%;
    position: relative;
}


// Editor blocks
.umb-editor-wrapper {
    display: flex;
    flex-direction: column;
    height: ~"(calc(~'100vh' - ~'@{navigationBarHeight}'))";
}

.umb-editor-header {
    flex: 0 0 @editorHeaderHeight;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.umb-editor-container {
    flex: 1 1 auto;
    box-sizing: border-box;
    overflow-y: auto;
    //display: flex;
    //flex-direction: row;
}

.umb-editor-content {
    padding: 30px 20px;
}

.umb-editor-container-test {
    flex: 1 1 auto;
    padding: 30px 20px;
    overflow-y: auto;
}

.umb-editor-container-sidebar {
    flex: 0 0 400px;
    padding: 30px 20px;
    border-left: 1px solid @grayLight;
    overflow-y: auto;
}

.umb-editor-drawer {
    flex: 0 0 31px;
}

.umb-tree-navigation {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    border-right: 1px solid @grayLight;
    overflow-y: auto;
    padding-bottom: 20px;
}



.umb-panel-header-content-wrapper {
    width: 100%;
}



.umb-toggle-tree {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 49px;
    width: 20px;
    padding: 0 20px;

    cursor: pointer;

    transition: background-color 80ms ease;
}

.umb-toggle-icon {
    margin: 0 auto 0 0;
    width: 20px;
    height: 2px;
    background-color: @grayLight;
    transition: all 80ms ease;
    display: block;
}

.umb-toggle-icon:before,
.umb-toggle-icon:after {
    content: '';
    width: 20px;
    height: 2px;
    display: block;
    background-color: @grayLight;
    transition: all 80ms ease;
}

.umb-toggle-icon:before {
    transform: translate(0, -5px);
    width: 15px;
}

.umb-toggle-icon:after {
    transform: translate(0, 3px);
    width: 9px;
}

.umb-toggle-tree:hover,
.umb-toggle-tree.-open {
    background: @grayLighter;
}

.umb-toggle-tree:hover .umb-toggle-icon,
.umb-toggle-tree:hover .umb-toggle-icon:before,
.umb-toggle-tree:hover .umb-toggle-icon:after {
    background-color: @grayMed;
}

.umb-toggle-tree.-open .umb-toggle-icon,
.umb-toggle-tree.-open .umb-toggle-icon:before,
.umb-toggle-tree.-open .umb-toggle-icon:after {
    width: 20px;
    background-color: @grayMed;
}
