.umb-navigation {
    display: flex;
    flex: 0 0 @navigationBarHeight;
    align-items: center;
    border-bottom: 1px solid @grayLight;
    box-sizing: border-box;
}


.umb-navigation-link {
    display: flex;
    align-items: center;

    padding: 0 20px;
    height: 50px;
    font-size: 13px;

    &:hover {
        text-decoration: none;
        background: #e2e2e2;
    }

    &:focus {
        text-decoration: none;
    }
}


.umb-navigation-link.-current {
    color: @blue;
}

.umb-navigation-link.open {
    background: #e2e2e2;
}




.umb-navigation__right {
    display: flex;
    align-items: center;

    margin-left: auto;
}


#avatar-img {
    border-radius: 50%;
    margin: 0 0 0 10px;
}



.umb-sections__tray {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    position: absolute;
    z-index: 1;

    width: 100%;

    background: white;
}

.umb-sections__tray .umb-navigation-link:hover {
    background: #ececec;
}


.umb-navigation-more {
    width: 22px;
    height: auto;
}

.umb-navigation-more__path {
    fill: #7F7F7F;
}

.umb-navigation-link:hover .umb-navigation-more__path,
.umb-navigation-link.open .umb-navigation-more__path {
    fill: #000;
}




// Tree Doors Downu
#mainwrapper {
    display: flex;
    flex-direction: column;
}

#contentwrapper {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

#contentcolumn {
    flex: 1 1 100%;
}


// Editor blocks
.umb-editor-wrapper {
    display: flex;
    flex-direction: column;
    height: ~"(calc(~'100vh' - ~'@{navigationBarHeight}'))";
}

.umb-editor-header {
    flex: 0 0 @editorHeaderHeight;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.umb-editor-container {
    flex: 1 1 auto;
    box-sizing: border-box;
    overflow-y: auto;
    //display: flex;
    //flex-direction: row;
}

.umb-editor-container-test {
    flex: 1 1 auto;
    padding: 30px 20px;
    overflow-y: auto;
}

.umb-editor-container-sidebar {
    flex: 0 0 350px;
    padding: 30px 20px;
    border-left: 1px solid @grayLight;
    overflow-y: auto;
}

.umb-editor-drawer {
    flex: 0 0 31px;
}

.umb-tree-navigation {
    display: flex;
    flex-direction: column;
    flex: 0 0 250px;
    border-right: 1px solid @grayLight;
    overflow-y: auto;
    padding-bottom: 20px;
}



.umb-panel-header-content-wrapper {
    width: 100%;
}
