<div class="umb-editor-header">

    <div class="umb-panel-header-content-wrapper">

        <div class="umb-panel-header-content" ng-class="{'-top-position': tabs || !icon }">

            <div class="umb-panel-header-left-side">

               <div class="umb-panel-header-icon" ng-if="!hideIcon" ng-click="openIconPicker()" ng-class="{'-placeholder': $parent.icon==='' || $parent.icon===null}">
                   <i class="icon {{$parent.icon}}"  ng-if="$parent.icon!=='' && $parent.icon!==null"></i>
                   <div class="umb-panel-header-icon-text" ng-if="$parent.icon==='' || $parent.icon===null">
                       <localize key="settings_addIcon"></localize>
                   </div>
               </div>

               <div class="umb-panel-header-title-wrapper">

                   <!--
                   <div class="umb-editor-header__published-state"></div>
                   --->

                   <ng-form name="headerNameForm">
                       <input
                        type="text"
                        class="umb-panel-header-name-input"
                        localize="placeholder"
                        placeholder="@placeholders_entername"
                        name="headerName"
                        ng-show="!nameLocked"
                        ng-model="name"
                        ng-class="{'name-is-empty': $parent.name===null || $parent.name===''}"
                        umb-auto-focus
                        required />
                        <!--
                        <div>
                            <div>
                                <i class="icon-documents"></i>
                                <div></div>
                            </div>
                        </div>
                        -->
                   </ng-form>

                   <!-- ng-if="variations.length - 1 > 0" -->
                   <a class="umb-variations-quick-switcher__toggle" href="" ng-click="toggleVariationsQuickSwitch()">
                       <!--
                       <i class="icon-documents umb-variations-quick-switcher__toggle-icon"></i>
                        --->
                       <span class="umb-variations-quick-switcher__toggle-number">6</span>
                       <span class="umb-variations-quick-switcher__toggle-arrow">&dtrif;</span>
                   </a>

                   <div class="umb-variations-quick-switcher_variations shadow-depth-2" ng-if="showVariationsQuickSwitch" on-outside-click="hideVariationsQuickSwitch()">
                       <a class="umb-variations-quick-switcher__variation" href="">
                           <span class="umb-variations-quick-switcher__variation-published-state"></span>
                           <span class="umb-variations-quick-switcher__variation-name">Danish</span>
                           <span class="umb-variations-quick-switcher__variation-description">(Danish translation)</span>
                       </a>
                       <a class="umb-variations-quick-switcher__variation" href="">
                           <span class="umb-variations-quick-switcher__variation-published-state"></span>
                           <span class="umb-variations-quick-switcher__variation-name">Dutch</span>
                           <span class="umb-variations-quick-switcher__variation-description">(Dutch translation)</span>
                       </a>
                       <a class="umb-variations-quick-switcher__variation" href="">
                           <span class="umb-variations-quick-switcher__variation-published-state"></span>
                           <span class="umb-variations-quick-switcher__variation-name">German</span>
                           <span class="umb-variations-quick-switcher__variation-description">(German translation)</span>
                       </a>
                       <a class="umb-variations-quick-switcher__variation" href="">
                           <span class="umb-variations-quick-switcher__variation-published-state"></span>
                           <span class="umb-variations-quick-switcher__variation-name">Italian</span>
                           <span class="umb-variations-quick-switcher__variation-description">(Italian translation)</span>
                       </a>
                       <a class="umb-variations-quick-switcher__variation" href="">
                           <span class="umb-variations-quick-switcher__variation-published-state"></span>
                           <span class="umb-variations-quick-switcher__variation-name">Spanish</span>
                           <span class="umb-variations-quick-switcher__variation-description">(Spanish translation)</span>
                       </a>
                       <a class="umb-variations-quick-switcher__variation" href="">
                           <span class="umb-variations-quick-switcher__variation-published-state"></span>
                           <span class="umb-variations-quick-switcher__variation-name">Swedish</span>
                           <span class="umb-variations-quick-switcher__variation-description">(Swedish translation)</span>
                       </a>
                       <a class="umb-variations-quick-switcher__variation" ng-repeat="variation in variations | filter:{ master: '!'+true }" href="">
                           <span class="umb-variations-quick-switcher__variation-published-state"></span>
                           <span class="umb-variations-quick-switcher__variation-name">{{variation.variationName}}</span>
                           <span class="umb-variations-quick-switcher__variation-description">({{variation.variationDescription}})</span>
                       </a>
                   </div>

                  <div class="umb-panel-header-name" ng-if="nameLocked">{{ name }}</div>

                  <umb-generate-alias class="umb-panel-header-alias"
                                      ng-if="!hideAlias"
                                      alias="$parent.alias"
                                      alias-from="$parent.name"
                                      enable-lock="true"
                                      server-validation-field="Alias"></umb-generate-alias>

                  <input
                    type="text"
                    class="umb-panel-header-description"
                    localize="placeholder"
                    placeholder="@placeholders_enterDescription"
                    ng-if="!hideDescription"
                    ng-model="$parent.description" />

               </div>

            </div>

            <umb-editor-menu ng-if="menu.currentNode" current-node="menu.currentNode" current-section="{{menu.currentSection}}"></umb-editor-menu>
            <umb-editor-navigation ng-if="navigation" navigation="navigation"></umb-editor-navigation>

        </div>

        <!-- <umb-tabs-nav ng-if="tabs" model="tabs"></umb-tabs-nav> -->

    </div>

    <umb-overlay
      ng-if="dialogModel.show"
      model="dialogModel"
      position="right"
      view="dialogModel.view">
    </umb-overlay>

</div>
