<umb-editor-sub-view ng-controller="Umbraco.Editors.Content.VariationsController as vm">

    <umb-editor-sub-view-container>

        <umb-editor-sub-view-content>

            <umb-variations
                variations="vm.variations"
                on-save-variation="vm.saveVariation"
                on-click-variation="vm.clickVariation"
                on-clone-variation="vm.cloneVariation"
                on-delete-variation="vm.deleteVariation">
            </umb-variations>

        </umb-editor-sub-view-content>

    </umb-editor-sub-view-container>

</umb-editor-sub-view>
