<umb-editor-sub-view ng-controller="Umbraco.Editors.Content.ContentController as vm">

    <umb-editor-sub-view-header umb-tabs>

        <div class="umb-editor-sub-view-header__content-left">
            <umb-tabs-nav ng-if="model.tabs" model="model.tabs"></umb-tabs-nav>
        </div>

        <div class="umb-editor-sub-view-header__content-right">
            <a href="" ng-repeat="tool in editorToolbar" ng-click="tool.action()">
                <i ng-class="tool.icon"></i>
            </a>

            <a class="editor-toolbar-properties" href="" ng-click="vm.toggleGenericProperties()">
                <i class="icon-info"></i>
            </a>
        </div>

    </umb-editor-sub-view-header>

    <umb-editor-sub-view-container>

        <umb-editor-sub-view-content>

            <umb-tabs-content class="form-horizontal" view="true">
                <umb-tab id="tab{{tab.id}}" ng-repeat="tab in model.tabs" rel="{{tab.id}}" ng-hide="tab.hidden">

                    <umb-property ng-repeat="property in tab.properties" property="property">
                        <umb-editor model="property"></umb-editor>
                    </umb-property>

                </umb-tab>
            </umb-tabs-content>

            <umb-empty-state position="center" ng-if="model.tabs.length - 1 === 0">
                Some text here about no content can be added
            </umb-empty-state>

        </umb-editor-sub-view-content>

        <umb-editor-sub-view-sidebar ng-if="vm.showGenericProperties">

            <div class="umb-editor-sub-view-sidebar-header">
                <div class="umb-editor-sub-view-sidebar-title">
                    Document Information

                    <i class="icon-wrong" ng-click="vm.toggleGenericProperties()"></i>
                </div>

                <umb-tabs-nav ng-if="vm.sidebarTabs" model="vm.sidebarTabs"></umb-tabs-nav>
            </div>

            <div class="umb-editor-sub-view-sidebar-container">

                <umb-tabs-content>

                    <umb-tab id="tab{{tab.id}}" ng-repeat="tab in vm.sidebarTabs" rel="{{tab.id}}">

                        <div ng-if="tab.alias==='details'">
                            <umb-property ng-repeat="property in vm.genericProperties.properties" property="property">
                                <umb-editor model="property"></umb-editor>
                            </umb-property>
                        </div>

                        <div ng-if="tab.alias==='activity'">
                            <ul class="umb-activity">
                                <li class="umb-activity-item">
                                    <span class="umb-activity-item-name">
                                        Activity item 1
                                    </span>
                                    <a class="umb-activity-item-rollback" href="">
                                        Rollback
                                        <i class="icon-refresh"></i>
                                    </a>
                                </li>
                                <li class="umb-activity-item">
                                    <span class="umb-activity-item-name">
                                        Activity item 2
                                    </span>
                                    <a class="umb-activity-item-rollback" href="">
                                        Rollback
                                        <i class="icon-refresh"></i>
                                    </a>
                                </li>
                                <li class="umb-activity-item">
                                    <span class="umb-activity-item-name">
                                        Activity item 3
                                    </span>
                                    <a class="umb-activity-item-rollback" href="">
                                        Rollback
                                        <i class="icon-refresh"></i>
                                    </a>
                                </li>
                                <li class="umb-activity-item">
                                    <span class="umb-activity-item-name">
                                        Activity item 4
                                    </span>
                                    <a class="umb-activity-item-rollback" href="">
                                        Rollback
                                        <i class="icon-refresh"></i>
                                    </a>
                                </li>
                                <li class="umb-activity-item">
                                    <span class="umb-activity-item-name">
                                        Activity item 5
                                    </span>
                                    <a class="umb-activity-item-rollback" href="">
                                        Rollback
                                        <i class="icon-refresh"></i>
                                    </a>
                                </li>
                                <li class="umb-activity-item">
                                    <span class="umb-activity-item-name">
                                        Activity item 6
                                    </span>
                                    <a class="umb-activity-item-rollback" href="">
                                        Rollback
                                        <i class="icon-refresh"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </umb-tab>

                </umb-tabs-content>
            </div>

            <div class="umb-editor-sub-view-sidebar-footer">
                flax
            </div>

        </umb-editor-sub-view-sidebar>

    </umb-editor-sub-view-container>

</umb-editor-sub-view>
