/*
	contains styling for all main editor directives
*/

.umb-editor-wrapper{
	background: white;
	// position: absolute;
	// top: 0px; bottom: 0px; left: 0px; right: 0px;
}


.umb-editor-header {
	//background: @grayLighter;
	border-bottom: 1px solid @grayLight;
	//position: absolute;
	// height: 99px;
	//top: 0px;
	//right: 0px;
	//left: 0px;
}

.umb-editor-container {
	// top: 101px;
	// left: 0px;
	// right: 0px;
	// bottom: 52px;
	// position: absolute;
	// clear: both;
	// overflow: auto;
}

.umb-editor-wrapper.-no-footer .umb-editor-container {
	bottom: 0;
}

.umb-editor-container.-stop-scrolling {
	overflow: hidden;
}

.umb-editor-drawer{
	//margin: 0;
	padding: 10px 20px;
	//z-index: 999;
	//position: absolute;
	//bottom: 0px;
	//left: 0px;
	//right: 0px;

	//background: @grayLighter;
	border-top: 1px solid @grayLight;
	flex: 0 0 @editorFooterHeight;
	box-sizing: border-box;
}


.umb-editor-actions{
	list-style: none;
	margin: 0; padding: 0;
}

.umb-editor-actions li{
	display: inline-block;
}

.umb-editor-header__published-state {
	width: 10px;
	height: 10px;
}

/* ----- LANGUAGE AND VARIATION */
.umb-editor-header__selected-variations {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.umb-editor-header__selected-variation {
	display: flex;
	flex-direction: row;
	font-size: 12px;
}

.umb-editor-header__selected-variation:first-child {
	margin-right: 15px;
}

.umb-editor-header__selected-variation-icon {
	margin-right: 5px;
}

/* --- VARIATIONS --- */
.umb-variations-quick-switcher__toggle {
	position: absolute;
    top: 0;
    right: 0;
	display: flex;
	align-items: center;
	border: 1px solid #ECECEC;
	padding-left: 20px;
	padding-right: 20px;
	height: 30px;

	box-sizing: border-box;
}

.umb-variations-quick-switcher__toggle.-active,
.umb-variations-quick-switcher__toggle.-active:hover {
	background: @blue;
	border-color: @blue;
	color: @white;
}


.umb-variations-quick-switcher__toggle:hover {
	background-color: @grayLighter;
	border-color: @grayLight;
}

.umb-variations-quick-switcher__toggle:hover,
.umb-variations-quick-switcher__toggle:focus {
	text-decoration: none;
}

.umb-variations-quick-switcher__toggle-icon {
	margin-right: 5px;
}

.umb-variations-quick-switcher__toggle-arrow {

}

.umb-variations-quick-switcher_variations {
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	z-index: 6200;
	background-color: #ffffff;
	max-height: 300px;
	overflow-y: scroll;
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
}

.umb-variations-quick-switcher_variations > li {
	border-left: 4px solid transparent;
	box-sizing: border-box;
}

.umb-variations-quick-switcher_variations > li:hover {
	border-color: @grayLighter;
}

.umb-variations-quick-switcher_variations > li.-active,
.umb-variations-quick-switcher_variations > li.-active:hover {
	border-left-color: @blue;
}

.umb-variations-quick-switcher_variations li.-active,
.umb-variations-quick-switcher_variations li.-active:hover .umb-variations-quick-switcher__variation:hover {
	background-color: fade(@blueDark, 4%);
}


.umb-variations-quick-switcher__variation {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 15px;
}

.umb-variations-quick-switcher__variation-stroke {
	border-left: 1px solid @grayLight;
	padding-left: 10px;
}

.umb-variations-quick-switcher__subnav {
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
}

.umb-variations-quick-switcher__variation:last-child {
	border-bottom: none;
}

.umb-variations-quick-switcher__variation:hover,
.umb-variations-quick-switcher__variation:focus {
	text-decoration: none;
	outline: none;
}

.umb-variations-quick-switcher__variation:hover,
.umb-variations-quick-switcher__variation.-active {
	background-color: @grayLighter;
}

.umb-variations-quick-switcher__variation-published-state {
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: @grayLight;
	margin-right: 10px;
}

.umb-variations-quick-switcher__variation-toggle {
	font-size: 13px;
	margin-left: auto;

	opacity: .5;

	padding: 5px 10px;
}

.umb-variations-quick-switcher__variation-toggle:hover {
	opacity: 1;
}


.umb-variations-quick-switcher__variation-published-state.-published {
	background-color: @green;
}

.umb-variations-quick-switcher__variation-name {
	font-size: 13px;
	font-weight: bold;
}

.umb-variations-quick-switcher__variation-icon {
	color: @gray;
	margin-right: 5px;
}

.umb-variations-quick-switcher__variation-description {
	font-size: 11px;
	color: @gray;
	margin-left: 5px;
}
