/*
	contains styling for all main editor directives
*/

.umb-editor-wrapper{
	background: white;
	// position: absolute;
	// top: 0px; bottom: 0px; left: 0px; right: 0px;
}


.umb-editor-header {
	//background: @grayLighter;
	border-bottom: 1px solid @grayLight;
	//position: absolute;
	// height: 99px;
	//top: 0px;
	//right: 0px;
	//left: 0px;
}

.umb-editor-container {
	// top: 101px;
	// left: 0px;
	// right: 0px;
	// bottom: 52px;
	// position: absolute;
	// clear: both;
	// overflow: auto;
}

.umb-editor-wrapper.-no-footer .umb-editor-container {
	bottom: 0;
}

.umb-editor-container.-stop-scrolling {
	overflow: hidden;
}

.umb-editor-drawer{
	//margin: 0;
	padding: 10px 20px;
	//z-index: 999;
	//position: absolute;
	//bottom: 0px;
	//left: 0px;
	//right: 0px;

	//background: @grayLighter;
	border-top: 1px solid @grayLight;
	flex: 0 0 @editorFooterHeight;
	box-sizing: border-box;
}


.umb-editor-actions{
	list-style: none;
	margin: 0; padding: 0;
}

.umb-editor-actions li{
	display: inline-block;
}

/* --- VARIATIONS --- */
.umb-variations-quick-switcher__toggle {
	position: absolute;
    top: 6px;
    right: 10px;
	font-size: 16px;
}

.umb-variations-quick-switcher_variations {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 20;
	background-color: #ffffff;
	max-height: 200px;
	overflow-y: scroll;
}

.umb-variations-quick-switcher__variation {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 15px;
}

.umb-variations-quick-switcher__variation:last-child {
	border-bottom: none;
}

.umb-variations-quick-switcher__variation:hover,
.umb-variations-quick-switcher__variation:focus {
	background-color: @grayLighter;
	text-decoration: none;
	outline: none;
}

.umb-variations-quick-switcher__variation-published-state {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: @grayLight;
	margin-right: 10px;
}

.umb-variations-quick-switcher__variation-published-state.-published {
	background-color: @green;
}

.umb-variations-quick-switcher__variation-name {
	font-size: 12px;
	font-weight: bold;
}

.umb-variations-quick-switcher__variation-description {
	font-size: 12px;
	color: @gray;
	margin-left: 10px;
}
