/* split view */
.splitview--views {
    display: flex;
}

.splitview--view {
    position: relative;
    flex: 1 1 100%;
}

.splitview--divider {
    flex: 0 0 8px;
    background: @white;
    border-right: 1px solid @grayLight;
    border-left: 1px solid @grayLight;

    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}
