<div class="splitview--views">

    <div ng-controller="Umbraco.Editors.Content.EditController" class="splitview--view">

       <umb-load-indicator ng-if="page.loading"></umb-load-indicator>

       <form name="contentForm"
          ng-submit="save()"
          novalidate
          val-form-manager>

          <umb-editor-view ng-if="!page.loading">

             <umb-editor-header
                name="content.name"
                variation="content.variationName"
                language="content.language"
                variations="variations"
                on-select-item="changeVariation"
                navigation="page.navigation"
                hide-icon="true"
                hide-description="true"
                hide-alias="true">
             </umb-editor-header>

             <umb-editor-container>

                 <umb-editor-sub-views
                    ng-if="!page.loading"
                     sub-views="page.navigation"
                     model="content">
                 </umb-editor-sub-views>

             </umb-editor-container>


             <umb-editor-footer>

                <umb-editor-footer-content-left>

                   <umb-breadcrumbs
                      ng-if="ancestors && ancestors.length > 0"
                      ancestors="ancestors"
                      entity-type="content">
                   </umb-breadcrumbs>

                </umb-editor-footer-content-left>


                <umb-editor-footer-content-right>

                   <umb-button
                      ng-if="page.listViewPath"
                      type="link"
                      href="#{{page.listViewPath}}"
                      label="Return to list"
                      label-key="buttons_returnToList">
                   </umb-button>

                   <umb-button
                      ng-if="!page.isNew"
                      type="button"
                      action="preview(content)"
                      label="Preview page"
                      label-key="buttons_showPage">
                   </umb-button>

                   <umb-button-group
                      ng-if="defaultButton"
                      default-button="defaultButton"
                      sub-buttons="subButtons"
                      state="page.buttonGroupState"
                      direction="up"
                      float="right">
                   </umb-button-group>


                </umb-editor-footer-content-right>

             </umb-editor-footer>

          </umb-editor-view>

       </form>
    </div>

    <div class="splitview--divider">

    </div>

    <div ng-controller="Umbraco.Editors.Content.EditController" class="splitview--view">

       <umb-load-indicator ng-if="page.loading"></umb-load-indicator>

       <form name="contentForm"
          ng-submit="save()"
          novalidate
          val-form-manager>

          <umb-editor-view ng-if="!page.loading">

             <umb-editor-header
                name="content.name"
                variation="content.variationName"
                language="content.language"
                variations="variations"
                on-select-item="changeVariation"
                navigation="page.navigation"
                hide-icon="true"
                hide-description="true"
                hide-alias="true">
             </umb-editor-header>

             <umb-editor-container>

                 <umb-editor-sub-views
                    ng-if="!page.loading"
                     sub-views="page.navigation"
                     model="content">
                 </umb-editor-sub-views>

             </umb-editor-container>


             <umb-editor-footer>

                <umb-editor-footer-content-left>

                   <umb-breadcrumbs
                      ng-if="ancestors && ancestors.length > 0"
                      ancestors="ancestors"
                      entity-type="content">
                   </umb-breadcrumbs>

                </umb-editor-footer-content-left>


                <umb-editor-footer-content-right>

                   <umb-button
                      ng-if="page.listViewPath"
                      type="link"
                      href="#{{page.listViewPath}}"
                      label="Return to list"
                      label-key="buttons_returnToList">
                   </umb-button>

                   <umb-button
                      ng-if="!page.isNew"
                      type="button"
                      action="preview(content)"
                      label="Preview page"
                      label-key="buttons_showPage">
                   </umb-button>

                   <umb-button-group
                      ng-if="defaultButton"
                      default-button="defaultButton"
                      sub-buttons="subButtons"
                      state="page.buttonGroupState"
                      direction="up"
                      float="right">
                   </umb-button-group>


                </umb-editor-footer-content-right>

             </umb-editor-footer>

          </umb-editor-view>

       </form>
    </div>


</div>
