<form novalidate name="contentForm"
    ng-controller="Umbraco.Editors.Content.EditController"
    ng-show="loaded"
    ng-submit="save()"
    val-form-manager>

    <div class="umb-page umb-tabbed-page">

        <div class="umb-header">
            <div class="row-fluid">
                <div class="span5">
                    <umb-content-name
                        placeholder="@placeholders_entername"
                        ng-model="content.name"/>
                </div>

                <div class="span7">
                    <div class="right-menu">

                        <!-- <i class="icon-eye"></i>
                        <i class="icon-globe"></i> -->

                        <a class="hamburger pull-right" href="#">
                            <div class="icon-bar"></div>
                            <div class="icon-bar"></div>
                            <div class="icon-bar"></div>
                        </a>
                    </div>

                </div>
            </div>
            <div class="row-fluid">
                <umb-tab-nav tabs="content.tabs" />
            </div>
        </div>

        <div class="umb-body">
            <umb-tab-view>
                <umb-tab id="tab{{tab.id}}" rel="{{tab.id}}" ng-repeat="tab in content.tabs">
                    <div class="umb-pane">
                        <umb-property 
                            property="property"
                            ng-repeat="property in tab.properties">
                            <umb-editor model="property"></umb-editor>
                        </umb-property>
                    </div>
                </umb-tab>


                <div class="umb-tab-buttons" detect-fold ng-class="{'umb-dimmed': busy}">
                    <div class="btn-group" ng-show="content.template">
                        <a class="btn" ng-click="preview(content)">
                            <localize key="buttons_showPage">Preview page</localize>
                        </a>
                    </div>
                    <div class="btn-group dropup" ng-if="defaultButton" >
                        <!-- primary button -->
                        <a class="btn btn-success" href="#" ng-click="performAction(defaultButton)" prevent-default>
                            <localize key="{{defaultButton.labelKey}}">{{defaultButton.labelKey}}</localize>
                        </a>
                        
                        <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" ng-if="subButtons.length > 0">
                            <span class="caret"></span>
                        </a>

                        <!-- sub buttons -->
                        <ul class="dropdown-menu bottom-up" role="menu" aria-labelledby="dLabel"  ng-if="subButtons.length > 0">
                            <li ng-repeat="btn in subButtons">
                                <a href="#" ng-click="performAction(btn)" prevent-default>
                                    <localize key="{{btn.labelKey}}">{{btn.labelKey}}</localize>
                                </a>
                            </li>
                        </ul>
                     </div>
                </div>

            </umb-tab-view>
        </div>

        <div class="umb-footer">
            <ul class="path nav nav-pills" ng-if="content.parentId">
                <li ng-repeat="ancestor in ancestors">
                    <a href="#/content/content/edit/{{ancestor.id}}">{{ancestor.name}}</a>
                </li>
                <li></li>
            </ul>
        </div>
    </div>
</form>
