<div class="umb-property">
    <ng-form name="propertyForm">
        <div class="control-group umb-control-group" ng-class="{hidelabel:property.hideLabel}" >

            <val-property-msg property="property"></val-property-msg>

            <div class="umb-el-wrap">

                <label class="control-label" ng-hide="property.hideLabel" for="{{property.alias}}" ng-attr-title="{{propertyAlias}}">
                    {{property.label}}

                    <small ng-if="property.description" ng-bind-html="property.description"></small>

                    <!--
                    <div class="umb-property-editor__dropdown-toggling" ng-class="{'-active' : showDropdown}">

                        <div class="umb-property-editor__dropdown-toggle" ng-click="toggleDropdown()">
                            <div ng-if="property.variation"><i class="icon-sync"></i>from {{ property.variation.name }} &dtrif;</div>
                            <div ng-if="!property.variation"><i class="icon-sync"></i>from &dtrif;</div>
                        </div>

                        <div class="umb-property-editor__dropdown shadow-depth-2" ng-if="showDropdown" on-outside-click="closeDropdown()">

                            <div class="umb-property-editor__dropdown-item">
                                <a class="umb-property-editor__dropdown-link -sync-off" ng-click="editContent()" href="">
                                    <i class="icon-sync"></i>Off
                                </a>
                            </div>
                            <div class="umb-property-editor__dropdown-filter" ng-if="variations.length > 9">
                                <input type="search"class="-full-width-input" placeholder="Search for variants" ng-model="searchTerm" umb-auto-focus>
                            </div>

                            <ul class="umb-property-editor__dropdown-items">

                                <li class="umb-property-editor__dropdown-item" ng-repeat="variation in variations | filter:searchTerm">
                                    <a class="umb-property-editor__dropdown-link" ng-click="syncContent(variation)" href="">{{ variation.name }}</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    --->

                </label>

                <div class="controls" ng-transclude>
                </div>
            </div>
        </div>
    </ng-form>
</div>
