<div class="umb-property-editor" ng-class="{'-not-clickable': preview}">

    <div class="umb-property-editor__dropdown-toggling">

        <div class="umb-property-editor__dropdown-toggle" ng-click="toggleDropdown()">
            <i class="icon-sync"></i>Gets content from Original &nbsp; &dtrif;
        </div>

        <div class="umb-property-editor__dropdown shadow-depth-2" ng-if="showDropdown" on-outside-click="closeDropdown()">
            <ul class="umb-property-editor__dropdown-items">
                <li class="umb-property-editor__dropdown-item">
                    <a class="umb-property-editor__dropdown-link -sync-off" href="">
                        <i class="icon-edit"></i>Edit content
                    </a>
                </li>
                <li class="umb-property-editor__dropdown-item">
                    <a class="umb-property-editor__dropdown-link" href="">Danish</a>
                </li>
                <li class="umb-property-editor__dropdown-item">
                    <a class="umb-property-editor__dropdown-link" href="">German</a>
                </li>
                <li class="umb-property-editor__dropdown-item">
                    <a class="umb-property-editor__dropdown-link" href="">Spanish</a>
                </li>
                <li class="umb-property-editor__dropdown-item">
                    <a class="umb-property-editor__dropdown-link" href="">Finnish</a>
                </li>
                <li class="umb-property-editor__dropdown-item">
                    <a class="umb-property-editor__dropdown-link" href="">Albanian</a>
                </li>
                <li class="umb-property-editor__dropdown-item">
                    <a class="umb-property-editor__dropdown-link" href="">Indian</a>
                </li>
            </ul>
        </div>

    </div>



    <div ng-include="propertyEditorView"></div>
</div>
