<div id="nuCache" ng-controller="Umbraco.Dashboard.NuCacheController">

    <div ng-show="loading">
        Loading...
    </div>

    <p>You are running the brand new NuCache!</p>

    <p>
        This verifies that content, media and members have corresponding data in the cmsContentNu table.
        It does not check the integrity and validity of those data, though. Rebuilding can be expensive.
    </p>
    <span ng-if="verifying" class="text-info">
        <span ng-if="!rebuilding">Checking...</span>
        <span ng-if="rebuilding">Rebuilding...</span>
    </span>
    <span ng-if="!verifying">
        Status:
        <span ng-if="!invalid" class="text-success"><strong>Ok</strong></span>
        <span ng-if="invalid" class="text-error"><strong>Error</strong></span>
    </span>
    <div ng-show="!rebuilding">
        <button type="button" ng-click="rebuild()" class="btn btn-warning">
            <span>Rebuild</span>
        </button>
    </div>
    <div class="umb-loader-wrapper" ng-show="rebuilding">
        <div class="umb-loader"></div>
    </div>

    <p></p>
    <p>
        This lets you reload the in-memory and local file cache by entirely reloading it from
        the data in the cmsContentNu table, but it does not rebuild that table. This is relatively
        fast. Triggers the reload on all servers in an LB environment.
    </p>
    <span ng-if="reloading" class="text-info">Reloading...</span>
    <div ng-show="!reloading">
        <button type="button" ng-click="reload()" class="btn btn-warning">
            <span>Reload</span>
        </button>
    </div>
    <div class="umb-loader-wrapper" ng-show="reloading">
        <div class="umb-loader"></div>
    </div>

</div>