<div id="examineManagement" ng-controller="Umbraco.Dashboard.XmlDataIntegrityReportController">

    <h3>Xml Cache Data integrity</h3>

    <div ng-show="loading">
        Loading...
    </div>

    <p>
        This checks that content, media and members have appropriate corresponding structures in the
        cmsContentXml and cmsPreviewXml tables. It does not check the data integrity of those structures,
        not of the Xml cache file.
    </p>
    <div ng-repeat="(key, value) in items" class="umb-pane">
        <span class="">{{value.label}}&nbsp;...</span>
        <span ng-if="value.checking" class="text-info">Checking...</span>
        <span ng-if="!value.checking && !value.invalid" class="text-success"><strong>Ok</strong></span>
        <span ng-if="!value.checking && value.invalid" class="text-error"><strong>Error</strong></span>
        <div ng-show="value.fix && !value.fixing">
            <button type="button" ng-click="fix(value)" class="btn btn-warning">
                <span ng-if="value.invalid">Fix</span>
                <span ng-if="!value.invalid">Rebuild</span>
            </button>
        </div>
        <div class="umb-loader-wrapper" ng-show="value.fixing">
            <div class="umb-loader"></div>
        </div>
    </div>



</div>