// Grid
// -------------------------

/* CONTAINS BASIC APPLICATION LAYOUT, POSITIONING AND AREA DIMENSIONS */

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
}


.app-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app-header{
   height: 26px;
   top: 0; left: 0; right: 0; position: absolute;
   background-color: @blackLight;
   padding: 12px 20px 12px 20px;
   z-index: 300;
}

.app-layout{
    top: 50px; left: 0; right: 0; bottom: 0; position: absolute;
}

nav.app-navigation{
    top: 0; left: 0; bottom: 0; position: absolute;
    width: 430px;
    z-index: 200;
}

div.app-navigation-sections{
  width: 70px;
  background: rgb(202,202,202);
  border-right: 1px solid @grayLight;
  z-index: 500;
}

div.app-navigation-tree{
  left: 71px !important;
  padding-left: 10px;
  overflow: auto;
  background: @grayLighter;
  border-right: 1px solid @grayLight;
  z-index: 500;
}

div.app-navigation-menu{
  left: 430px !important;
  overflow: auto;
  z-index: 300;
  border-right: 1px solid @grayLight;
}

div.app-navigation-dialog{
  left: 430px !important;
  overflow: auto;
  z-index: 300;
  min-width: 500px;
  border-right: 1px solid @grayLight;
}

.app-content{
    top: 0; left: 71px; bottom: 0; right:0; position: absolute;
    z-index: 100;
}

@media (min-width: 1101px) {
  .app-content {left: 430px;}
  .app-notifications {left: 350px;}
}


iframe.app-legacy-content{
  border: none; display: block; left: 0;top: 0;bottom: 0;right: 0;position: absolute;
  width: 100%; height: 100%;
}

.umb-abs-fullsize{
  left: 0;top: 0;bottom: 0;right: 0;position: absolute; height: 100%; 
}

/*
#applications {
  z-index: 1000;
  left: 0;top: 0;bottom: 0;right: 0;position: absolute;
  text-align: center
}

#applications-tray {
  z-index: 900;
  left: 70px;
  top: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  text-align: center;
}
*/
#search-form {
  display: none;
  margin: 0px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#search-form form{
  margin-top: 10px;
}

#navigation {
  left: 70px;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 100;
  background: @white;
  height: 100%; 
}

.navigation-inner-container{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-top: 20px;
    border-right: 1px solid @grayLight;  
}

#dialog {
  min-width: 500px;
  left: 100%;
  top: 0;
  position: absolute;
  z-index: 50;
  display: inline-block;
}

#tree {
  padding: 0px;
  z-index: 100 !important;
  overflow: auto;
}

#tree .umb-tree {
    padding: 0px 0px 20px 0px;
}

#search-results {
  z-index: 200;
}


#contextMenu {
  z-index: 50;
  position: absolute;
  top: 0px;
  left: 100%;
  min-width: 250px;
}


#speechbubble {
  z-index: 1000;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  border-bottom: none;
  margin: auto;
  padding: 0px;
  border: none;
  background: none;
  border-radius: 0;
}



/* loading animation for iframes and content pages */
iframe, .content-column-body {
    background: center center url(../img/loader.gif) no-repeat;
    border: none;
}
