<div class="umb-tree-navigation">

    <!-- the search -->
    <div ng-controller="Umbraco.SearchController" ng-if="authenticated">

        <!-- Search form -->
        <form class="form-search" novalidate>
            <i class="icon-search"></i>
            <input type="text"
                hotkey="ctrl+space"
                id="search-field"
                ng-model="searchTerm"
                class="umb-search-field search-query search-input"
                localize="placeholder"
                placeholder="@placeholders_search"
                ng-keydown="navigateResults($event)"/>
        </form>

        <!-- Search results -->
        <div ng-show="showSearchResults">

            <ul class="umb-tree">
                <li class="root">
                    <div>
                        <h5 class="umb-tree-header"><localize key="general_searchResults">Search results</localize></h5>
                    </div>

                    <ul class="umb-search-group" ng-repeat="group in groups">
                        <li ng-repeat="result in group.results" ng-class="{'current':selectedItem == result}">
                            <div class="umb-search-group-item">
                                <a class="umb-search-group-item-link" ng-class="{'first':$first}" ng-click="searchHide()" ng-href="#/{{result.editorPath}}">

                                    <div class="umb-search-group-item-name">
                                        <i class="icon umb-tree-icon sprTree {{result.icon}}"></i>
                                        {{result.name}}
                                    </div>

                                    <small class="search-subtitle" ng-show="result.subTitle">
                                        {{result.subTitle}}
                                    </small>
                                </a>

                                <a href ng-click="searchShowMenu($event, {node: result})" class="umb-options"><i></i><i></i><i></i></a>
                            </div>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>

    </div>

    <div ng-show="!showSearchResults">
        <umb-tree
            cachekey="_"
            eventhandler="treeEventHandler"
            section="{{currentSection}}" >
        </umb-tree>
    </div>

</div>
