<div
    class="umb-navigation"
    ng-controller="Umbraco.NavigationController"
    ng-mouseleave="leaveTree($event)"
    ng-mouseenter="enterTree($event)">

    <umb-sections
        ng-if="authenticated"
        sections="sections">
    </umb-sections>

    <div class="help">
        <a href class="help" hotkey="ctrl+shift+h" ng-click="helpClick()" prevent-default>
            <i class="icon-help-alt"></i>
            <span><localize key="sections_help">Help</localize></span>
        </a>
    </div>

    <div>
        <a href="#" ng-click="avatarClick()" hotkey="ctrl+shift+u" title="{{user.name}}" prevent-default>
            <span>{{user.name}}</span>
            <img id="avatar-img" ng-src="{{avatar[0].value}}" ng-srcset="{{avatar[1].value}} 2x, {{avatar[2].value}} 3x" />
        </a>
    </div>

    <!-- navigation container -->

    <umb-overlay
      ng-if="helpDialog.show"
      model="helpDialog"
      view="helpDialog.view"
      position="right">
    </umb-overlay>

    <umb-overlay
      ng-if="userDialog.show"
      model="userDialog"
      view="userDialog.view"
      position="right">
    </umb-overlay>

</div>
