<div ng-controller="Umbraco.PropertyEditors.textboxController">
    <textarea rows="1"
              umb-auto-resize
              umb-auto-focus
              ng-required="model.validation.mandatory"
              ng-keyup="model.change()"
              ng-trim="false"
              class="textstring input-block-level" id="{{model.$uniqueId}}_text"
              ng-model="model.value"
              localize="placeholder" placeholder="@grid_placeholderWriteHere"
              style="font-size: 36px; line-height: 45px; font-weight: bold;"></textarea>
</div>
