<div class="umb-variations">

    <div ng-if="!newVariationIsVisible && !editVariationIsVisible && !cloneVariationIsVisible">


        <div class="umb-variations__title-wrapper">
            <div class="umb-variations__title">Variations</div>
        </div>


        <p class="umb-variations__help-text">Manage multiple variations of your content here. Create, duplicate or delete variations.</p>

        <!--

        <input class="umb-variations__filter -full-width-input" ng-show="variations.length > 4" ng-model="searchTerm" placeholder="Filter variations"></input>
        -->

        <!-- VARIATIONS LANG GROUP -->
        <div class="umb-varations__lang-group" ng-repeat="language in variations">
            <div class="umb-varations__lang-group-info">

                <div class="umb-varations__lang-group-info__name" ng-click="clickVariation(variation, $event, $index)">
                    <div class="umb-varations__published-state" ng-class="{'-published': language.published}"></div>
                    <div ng-if="variations.length === 1">
                    <a href="" class="umb-varations__lang-group-info__link">{{ language.name }}</a>
                        <small>(Original)</small>
                    </div>
                    <div ng-if="variations.length > 1">
                        <i class="icon-globe-alt" ng-if="variations.length > 1"></i>
                        {{ language.language }}
                    </div>
                </div>

                <div class="umb-variations__actions" ng-if="language.published">
                    <div class="umb-variations__action" ng-click="showNewVariation(language)">
                        <span>Create variation</span>
                    </div>
                </div>

            </div>

            <!-- CREATE -->
            <div class="umb-variations__edit-list-item" ng-if="language.showNewVariation">

                <div class="umb-variations__form-group">
                    <label class="umb-variations__label">Name</label>
                    <input class="-full-width-input" type="text" ng-model="newVariation.name" umb-auto-focus />
                </div>

                <div class="umb-variations__form-group">
                    <label class="umb-variations__label">Description</label>
                    <input class="-full-width-input" type="text" ng-model="newVariation.description" />
                </div>

                <div class="umb-variations__form-group">
                    <label class="umb-variations__label">Segments</label>
                    <div class="umb-variations__tags">
                        <label class="umb-variations__tag" ng-repeat="segment in segments">
                            <input
                                type="checkbox"
                                class="checkbox"
                                checklist-model="newVariation.segments"
                                checklist-value="segment.id">
                            <span>{{segment.name}}</span>
                        </label>
                    </div>
                </div>

                <div class="umb-variations__form-group form-group-actions">

                    <umb-button
                        action="createNewVariation(newVariation, language)"
                        button-style="success"
                        label="Create variation"
                        type="button">
                    </umb-button>

                    <umb-button
                        action="hideNewVariation(language)"
                        button-style="link"
                        label="Cancel"
                        type="button">
                    </umb-button>

                </div>

            </div>

            <!-- VARIATIONS LIST -->
            <ul class="umb-variations__list">

                <li class="umb-variations__list-item-wrapper" ng-repeat="variation in language.variations">

                    <!-- VIEW -->
                    <div class="umb-variations__list-item"  ng-class="{'-edit-mode': variation.editVariation}">

                        <div class="umb-variations__variation-top-bar">

                            <div class="umb-varations__published-state" ng-class="{'-published': variation.published}"></div>

                            <div class="umb-variations__name-wrapper">
                                <i class="umb-variations__name-icon icon-documents"></i>
                                <div class="umb-variations__name">{{ variation.variationName }}</div>
                                <div class="umb-variations__description" ng-if="variation.variationDescription">({{ variation.variationDescription }})</div>
                            </div>

                            <div class="umb-variations__list-item__edit" ng-click="toggleEditVariation(variation)">
                                Edit
                            </div>

                        </div>

                    </div>

                    <!-- EDIT -->
                    <div class="umb-variations__edit-list-item" ng-if="variation.editVariation">

                        <div class="umb-variations__form-group">
                            <label class="umb-variations__label">Name</label>
                            <input class="-full-width-input" type="text" ng-model="variation.variationName" umb-auto-focus/>
                        </div>

                        <div class="umb-variations__form-group">
                            <label class="umb-variations__label">Description</label>
                            <input class="-full-width-input" type="text" ng-model="variation.variationDescription" />
                        </div>

                        <div class="umb-variations__form-group">
                            <label class="umb-variations__label">Segments</label>
                            <div class="umb-variations__tags">
                                <label class="umb-variations__tag" ng-repeat="segment in segments">
                                    <input
                                        type="checkbox"
                                        class="checkbox"
                                        checklist-model="variation.segments"
                                        checklist-value="segment.id">
                                    <span>{{segment.name}}</span>
                                </label>
                            </div>
                        </div>

                        <div class="umb-variations__form-group form-group-actions">

                            <umb-button
                                action="saveVariation(variation, language)"
                                button-style="success"
                                label="Save variation"
                                type="button">
                            </umb-button>

                            <umb-button
                                action="deleteVariation(variation, language)"
                                label="Delete variation"
                                type="button">
                            </umb-button>

                            <umb-button
                                action="hideEditVariation(variation)"
                                button-style="link"
                                label="Cancel"
                                type="button">
                            </umb-button>

                        </div>

                    </div>

                </li>
            </ul>

        </div>

    </div>

</div>
