<umb-panel ng-class="'umb-dialog ysod'" ng-controller="Umbraco.Dialogs.YsodController">
    <umb-header>
            <h1 class="red">Received an error from the server</h1>
    </umb-header>
    <umb-body>
        <umb-pane>
            <h4>{{error.errorMsg}}</h4>
            <p>{{error.data.ExceptionMessage || error.data.Message}}</p>
        </umb-pane>    
        
        <umb-pane>    
            <h5>Exception Details: </h5>
            {{error.data.ExceptionType}}: {{error.data.ExceptionMessage}}
        </umb-pane>   
        
        <umb-pane>
            <h5>Stacktrace: </h5>
            <pre style="white-space: pre-wrap; overflow-x: auto;">{{error.data.StackTrace}}</pre>
        </umb-pane>
    </umb-body>
    <umb-footer>
            <a href ng-click="close()" class="btn pull-right">
                <localize key="general_close">Close</localize>
            </a>
    </umb-footer>
</umb-panel>